{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

which -s brew
if [[ $? != 0 ]] ; then
    # Install Homebrew
    ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
else
    brew update
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
# tap repositories and their packages
tap 'homebrew/core'
brew 'bat'
brew 'chezmoi'
brew 'coreutils'
brew 'curl'
brew 'dateutils'
brew 'exa'
brew 'findutils'
brew 'fzf'
brew 'ghq'
brew 'gibo'
brew 'git'
brew 'grep'
brew 'highlight'
brew 'jq'
brew 'lazygit'
brew 'lua'
brew 'luajit', args: ['HEAD']
brew 'neovim'
brew 'node'
brew 'nvm'
brew 'openjdk'
brew 'openssl@1.1'
brew 'rename'
brew 'ripgrep'
brew 'rsync'
brew 'texlab'
brew 'texlive'
brew 'tmux'
brew 'tmuxinator'
brew 'trash'
brew 'tree-sitter'
brew 'tty-clock'
brew 'ydiff'
brew 'zplug'
brew 'zsh'
brew 'zsh-completions'
brew 'zsh-syntax-highlighting'

tap 'homebrew/cask-fonts'
cask 'font-jetbrains-mono-nerd-font'

tap 'homebrew/cask'
cask '1password'
cask 'alacritty'
cask 'caffeine'
cask 'docker'
cask 'inkscape'
cask 'mactex'
cask 'miniconda'
cask 'vlc'
cask 'zoom'
cask 'zotero'
EOF

{{ end -}}
